:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
    --light-pink:hsl(0, 57%, 66%);
    --light-pink2:hsl(0, 82%, 83%);
    --color-1:hsl(0, 31%, 37%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    background-color: var(--Eggshell);
    font-family: 'outfit', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--Wenge-Brown);
}

h1,
h2 {
    font-family: 'Young Serif', 'Times New Roman', Times, serif;
}

hr {
    color: var(--Light-Grey);
    margin: 30px 0;
}

.container {
    width: 65vw;
    background-color: var(--White);
    margin: 20vh auto;
    padding: 40px;
    border-radius: 30px;
}


nav {
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--light-pink);
    z-index: 1000;
}

.logo a {
    color: var(--light-pink2);
    text-decoration: none;
    font-size: 28px;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    display: block;
    margin: 0 30px;
}

.menu li:hover {
    color: var(--color-1);
    cursor: pointer;
}

.menu a{
    text-decoration: none;
    color: var(--light-pink2);
}



nav+div {
    margin-top: 70px;
}


.header{
    width: 100vw;
    height:80vh;
    position: relative;
}

.header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header div{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: var(--Eggshell);
    text-align: center;
    padding:200px 40px 40px 0 ;
    background-color: rgba(16, 16, 16, 0.472)
}

.header h1{
    position: absolute;
    bottom: 45%;
    left: 30%;
}




/* single recipe page */

.food-desc h1 {
    font-size: 40px;
    color: var(--Dark-Charcoal);
    margin-top: 20px;
    text-align: center;
}

.food-desc p {
    margin-top: 20px;
}

.food-img {
    width: 55vw;
    height: 30vw;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

.prep-time {
    width: 99%;
    background-color: var(--Rose-White);
    padding: 20px 50px;
    margin: 15px auto;
    border-radius: 10px;
}

.prep-time h3 {
    color: var(--Dark-Raspberry);
    text-align: left;
}

.prep-time ul {
    list-style-position: inside;
    list-style: none;
}

ol {
    list-style-position: inside;
    color: var(--Nutmeg);
    font-family: 'century gothic';
}




.prep-time ul li::before {
    color: var(--Dark-Raspberry);
    content: '\2022';
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
    width: 1em;
}


h2 {
    color: var(--Nutmeg);
    font-size: 30px;
    margin: 10px 0;
}

li {
    margin-top: 10px;
}

.ingrident ul {
    list-style-position: inside;
    list-style: none;
}

.ingrident ul li::before {
    color: var(--Nutmeg);
    content: '\2022';
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
    width: 1em;
}

.food-img img {
    width: 55vw;
}

.nutrition p {
    margin: 10px 0;
}

.nutrition table {
    width: 95%;
}

.nutrition table td {
    padding: 20px;
}

@media screen and (max-width: 540px) {
    .container {
        position: relative;
        width: 100vw;
        margin: 0;
        border-radius: 0;
        padding-top: 0;
        overflow: hidden;
    }

    .food-img {
        width: 100vw;
        height: 5vh;
        border-radius: 0;
        overflow: hidden;
        margin: 0;
        object-fit: cover;
        object-position: center;
    }

    .food-img img {
        width: 100vw;
        height: 25vh;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

        .food-desc{
            margin-top: 200px;
        }

}


/* slider */

.slideshow-container {
    width: 100vw;
    height: 80vh;
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 90px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* recipe list */

.recipe-list{
    margin-top: 50px;
}

.recipe-list h2{
    text-align: center;
    font-size: 40px;
}

#list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.card {
    text-align: center;
    width: 360px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--White);
    margin-top: 30px;
}

.card img {
    width: 290px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.card h3 {
    font-size: 1.2em;
    color: var(--Dark-blue);
    width: 260px;
    margin: 20px auto;
}

.card p {
    font-size: 0.8em;
    color: var(--Grayish-blue);
    width: 260px;
    margin: 20px auto;
}

@media screen and (max-width: 530px) {
    .card {
        width: 300px;
        height: 400px;
    }

    .card img {
        width: 240px;
        height: 265px;
    }

    .card h3 {
        width: 250px;
    }

    .card p {
        width: 250px;
    }
}

@media screen and (max-width: 340px) {
    .card  {
        width: 240px;
        height: 290px;
        box-sizing: border-box;
    }

    .card img {
        width: 180px;
        height: 235px;
    }

    .card h3 {
        width: 200px;
    }

    .card p {
        width: 200px;
    }
}
